/* General body and font settings */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Container for the whole app */
.App {
  text-align: center;
  color: #333;
}

/* Header Styling */
header {
  background-color: #b7a3f2; /* Soft pink */
  color: white;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 15px;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #c35ce8; /* Darker pink */
}

/* Main content area */
main {
  padding: 20px;
}

/* Client list styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li strong {
  font-size: 1.2rem;
  color: #333;
}

li button {
  background-color: #f2a3d1;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: #e85c9d;
}

/* Form styling */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

form input:focus {
  outline: none;
  border-color: #a3f2ea;
}

form button {
  width: 85%;
  padding: 12px;
  background-color: #a3f2f2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #e85c9d;
}

h3 {
  color: #333;
  font-size: 1.6rem;
}

/* Footer Styling */
footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #a3e5f2;
  color: white;
  font-size: 0.9rem;
}



/* Logout button styling */
.logout-button {
  background-color: #ff5252;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  position: absolute; /* Absolute positioning for placement */
  top: 60px; /* Distance from the top of the header */
  right: 20px; /* Distance from the right side of the header */
}

.logout-button:hover {
  background-color: #e04848;
}

